*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background-image: url(https://media.istockphoto.com/id/1401602941/vector/turquoise-and-blue-abstract-wave-lines-flowing-on-a-black-background-ideal-for-topics-on.jpg?s=612x612&w=0&k=20&c=lW4KFLGxwdslW7QpCPKk41XQsGrao8p32AgX2sU70Fc=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style: none;
    padding:0 12px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 10px;
    background-color:rgb(235, 184, 235);
    
}
.nav h3{
      margin-left: 1rem;
      font-size: 2.5rem;
}
.main-menu{
    display: flex;
}

.main-menu a:hover{
    color: black;
}
.main-menu li{
    position: relative;
}

.dropdown{
    position: absolute;
    display: none;
    background-color: rgb(235, 184, 235);
    color: wheat;
}
.main-menu li:hover .dropdown{
    display: block;
}

form input{
    height: 30px;
    width:40%;
    margin: 1rem;
    border-radius:4px;
    border: 2px solid black;
}
form input:hover{
    background-color: rgb(214, 214, 214);
}

 form input::placeholder{
    font-weight: 800;
    padding-left: 4px;
}
.form{
    border: 2px solid gray;
    margin: 8rem auto;
    text-align: center;
    width: 80%;
    padding:2rem 0;
}
.form h3{
    color: wheat;
    font-size: 2rem;
    font-weight: 900;
    padding-bottom: 2rem;
}
.gender span{
   color: antiquewhite;
   text-align: start;

}
.gender input{
    height:13px;
    width:20px;
    color: beige;
}

.btn{
    padding: 10px 80px;
    background-color: rgb(235, 184, 235);
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 23px;
}
.btn:hover{
    background-color: rgb(173, 0, 173);
}
.btn a{
   font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
}

footer{

    background-color:rgb(235, 184, 235);
}
.top{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 3rem 5rem;
}
.left h3,.right h3{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 1rem;
}
.left ul li {
    color: purple;
    margin-top: 1rem;
    padding-left: 72px;
}
.links{
    display: flex;
    margin-top: 23px;
    justify-content: space-between;
}

